---
import Layout from '../layouts/Layout.astro';
import MainText from '../components/MainText.astro';
import Platforms from '../components/Platforms.astro';
---

<Layout title="VVSHAWTY">
	<MainText />
	<div class="grid place-items-center w-full">
		<Platforms />
	</div>
</Layout>

<style>
	
</style>
