---
import smallCross from "/public/cross30x40.svg?raw"
---

<main class="grid place-items-center w-full before-after-lines py-6">
        <div class="mt-6 mb-4">
            <Fragment set:html={smallCross} />
        </div>
        <h2 class="text-6xl text-white border-t-[1px] border-b-[1px] py-2">
            VVSHAWTY
        </h2>
        <div class="transform rotate-180 mt-4">
            <Fragment set:html={smallCross} />
        </div>    
</main>