---
import Header from '../components/astro/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="VVSHAWTY Artist Page" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
	:root {
		--main-color: #000000;
		--text-color: #ffffff;
	}
	
	html, body {
		font-family: 'Krona One', sans-serif;
		filter: contrast(100%) brightness(100%);
		color: var(--text-color);
		background-color: #000000;
		background-image: url(/noise.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		background-attachment: fixed;
		-ms-overflow-style: none;
    	scrollbar-width: none;
		min-height: 100vh;
		min-width: 100vw;

		@media (max-width: 768px) {
			background-image: none;
		}
	}

	body::-webkit-scrollbar {
		display: none;
	}
</style>
